In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [118]:
df1 = pd.read_csv("Dataset/Bengaluru_House_Data.csv")
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [119]:
df1.shape

(13320, 9)

In [120]:
df1['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

Handling Null Values

In [121]:
df2 = df1.drop(['area_type','society','balcony','availability'],axis='columns')
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [122]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [123]:
df2['bath'].fillna(df2['bath'].median(),inplace=True) #filling the null values with median or you can drop na becuase we have >13000 columns

C:\Users\HP\AppData\Local\Temp\ipykernel_6300\815410276.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['bath'].fillna(df2['bath'].median(),inplace=True) #filling the null values with median or you can drop na becuase we have >13000 columns

In [124]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath           0
price          0
dtype: int64

In [125]:
#for size and location, i will drop null values
df3 = df2.dropna()

In [126]:
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [127]:
# Handling Size 
df3['size'].unique()
df4 = df3

In [128]:
df4['bhk'] = df4['size'].str.split(' ').str[0]

C:\Users\HP\AppData\Local\Temp\ipykernel_6300\2653088572.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['bhk'] = df4['size'].str.split(' ').str[0]

In [129]:
df4['bhk'].unique()

array(['2', '4', '3', '6', '1', '8', '7', '5', '11', '9', '27', '10',
       '19', '16', '43', '14', '12', '13', '18'], dtype=object)

In [130]:
df4['bhk'] = df4['bhk'].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_6300\1917619495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['bhk'] = df4['bhk'].astype(int)

In [131]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13303 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13303 non-null  object
 1   size        13303 non-null  object
 2   total_sqft  13303 non-null  object
 3   bath        13303 non-null  float64
 4   price       13303 non-null  float64
 5   bhk         13303 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 727.5+ KB

In [132]:
#Handling total_sqft  
df4['total_sqft'].unique()
df5 = df4

In [133]:
# checking if all values in total_sqft are float
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [134]:
df4[~df4['total_sqft'].apply(is_float)].head(20)

                  location       size      total_sqft  bath    price  bhk
30               Yelahanka      4 BHK     2100 - 2850   4.0  186.000    4
56             Devanahalli  4 Bedroom     3010 - 3410   2.0  192.000    4
81             Hennur Road  4 Bedroom     2957 - 3450   2.0  224.500    4
122                 Hebbal      4 BHK     3067 - 8156   4.0  477.000    4
137     8th Phase JP Nagar      2 BHK     1042 - 1105   2.0   54.005    2
165               Sarjapur      2 BHK     1145 - 1340   2.0   43.490    2
188               KR Puram      2 BHK     1015 - 1540   2.0   56.800    2
224            Devanahalli      3 BHK     1520 - 1740   2.0   74.820    3
410                Kengeri      1 BHK  34.46Sq. Meter   1.0   18.500    1
549            Hennur Road      2 BHK     1195 - 1440   2.0   63.770    2
648                Arekere  9 Bedroom       4125Perch   9.0  265.000    9
661              Yelahanka      2 BHK     1120 - 1145   2.0   48.130    2
669               JP Nagar      5 BHK     4400 - 6640   2.0  375.000    5
672           Bettahalsoor  4 Bedroom     3090 - 5002   4.0  445.000    4
702               JP Nagar      5 BHK     4400 - 6800   2.0  548.500    5
772  Banashankari Stage VI      2 BHK     1160 - 1195   2.0   59.935    2
775           Basavanagara      1 BHK   1000Sq. Meter   2.0   93.000    1
801               JP Nagar      4 BHK     4000 - 5249   2.0  453.000    4
850      Bannerghatta Road      2 BHK     1115 - 1130   2.0   58.935    2
872      Singapura Village      2 BHK   1100Sq. Yards   2.0   45.000    2

In [135]:
# Check which values are not pure numbers
df4[~df4['total_sqft'].str.replace('.','',1).str.isnumeric()]['total_sqft'].unique()

array(['2100 - 2850', '3010 - 3410', '2957 - 3450', '3067 - 8156',
       '1042 - 1105', '1145 - 1340', '1015 - 1540', '1520 - 1740',
       '34.46Sq. Meter', '1195 - 1440', '4125Perch', '1120 - 1145',
       '4400 - 6640', '3090 - 5002', '4400 - 6800', '1160 - 1195',
       '1000Sq. Meter', '4000 - 5249', '1115 - 1130', '1100Sq. Yards',
       '520 - 645', '1000 - 1285', '3606 - 5091', '650 - 665',
       '633 - 666', '5.31Acres', '30Acres', '1445 - 1455', '884 - 1116',
       '850 - 1093', '1440 - 1884', '716Sq. Meter', '547.34 - 827.31',
       '580 - 650', '3425 - 3435', '1804 - 2273', '3630 - 3800',
       '660 - 670', '1500Sq. Meter', '620 - 933', '142.61Sq. Meter',
       '2695 - 2940', '1574Sq. Yards', '3450 - 3472', '1250 - 1305',
       '670 - 980', '1005.03 - 1252.49', '1004 - 1204', '361.33Sq. Yards',
       '645 - 936', '2710 - 3360', '2249.81 - 4112.19', '3436 - 3643',
       '2830 - 2882', '596 - 804', '1255 - 1863', '1300 - 1405',
       '117Sq. Yards', '934 - 1437', '980 - 1030', '1564 - 1850',
       '1446 - 1506', '1070 - 1315', '3040Sq. Meter', '500Sq. Yards',
       '2806 - 3019', '613 - 648', '1430 - 1630', '704 - 730',
       '1482 - 1846', '2805 - 3565', '3293 - 5314', '1210 - 1477',
       '3369 - 3464', '1125 - 1500', '167Sq. Meter', '1076 - 1199',
       '381 - 535', '2215 - 2475', '524 - 894', '540 - 670',
       '315Sq. Yards', '1650 - 2538', '2725 - 3250', '1974 - 2171',
       '888 - 1290', '1360 - 1890', '2466 - 2856', '660 - 700',
       '385 - 440', '770 - 841', '3Cents', '1310 - 1615', '1782 - 2000',
       '188.89Sq. Yards', '1469 - 1766', '204Sq. Meter', '1255 - 1350',
       '870 - 1080', '45Sq. Yards', '133.3Sq. Yards', '2580 - 2591',
       '2563 - 2733', '605 - 624', '4260 - 4408', '1349 - 3324',
       '78.03Sq. Meter', '3300 - 3335', '1180 - 1630', '1365 - 1700',
       '3500 - 3600', '122Sq. Yards', '84.53Sq. Meter', '2.09Acres',
       '1482 - 1684', '981 - 1249', '1100 - 1225', '1565 - 1595',
       '24Guntha', '1270 - 1275', '840 - 1010', '697Sq. Meter',
       '655 - 742', '1408 - 1455', '4050 - 4075', '942 - 1117',
       '1750 - 2640', '1390 - 1600', '598 - 958', '1500Cents',
       '132Sq. Yards', '1010 - 1300', '2Acres', '3103 - 3890',
       '1450 - 1950', '1100Sq. Meter', '15Acres', '1450 - 1595',
       '763 - 805', '3307 - 3464', '1.26Acres', '620 - 934',
       '2462 - 2467', '540 - 740', '1618 - 1929', '3508 - 4201',
       '4900 - 4940', '1610 - 1880', '755 - 770', '664 - 722',
       '151.11Sq. Yards', '700 - 900', '596 - 861', '1925 - 2680',
       '615 - 985', '540 - 565', '750 - 800', '1660 - 1805',
       '1410 - 1710', '1079 - 1183', '2800 - 2870', '1230 - 1290',
       '943 - 1220', '2041 - 2090', '527 - 639', '1Grounds',
       '1160 - 1315', '706 - 716', '2940Sq. Yards', '1791 - 4000',
       '45.06Sq. Meter', '799 - 803', '2470 - 2790', '783 - 943',
       '4500 - 5540', '1255 - 1375', '610 - 615', '854 - 960',
       '2650 - 2990', '1.25Acres', '86.72Sq. Meter', '1230 - 1490',
       '660 - 780', '1150 - 1194', '684 - 810', '1510 - 1670',
       '1550 - 1590', '1235 - 1410', '3484 - 3550', '38Guntha',
       '929 - 1078', '2150 - 2225', '1520 - 1759', '629 - 1026',
       '1215 - 1495', '6Acres', '1140 - 1250', '2400 - 2600',
       '1052 - 1322', '5666 - 5669', '712 - 938', '1783 - 1878',
       '120Sq. Yards', '24Sq. Meter', '2528 - 3188', '650 - 760',
       '1400 - 1421', '4000 - 4450', '142.84Sq. Meter', '300Sq. Yards',
       '2204 - 2362', '1437 - 1629', '850 - 1060', '1200 - 1470',
       '1020 - 1130', '1133 - 1384'], dtype=object)

In [136]:
#finding units
import re

def extract_unit(x):
    match = re.findall(r'[A-Za-z]+', x)  # grab text parts eg- "24 sq. Meter" -> match = ["sq","Meter"]
    return ' '.join(match) if match else None #joins the match words with ' ' in between each word 

df4['unit'] = df4['total_sqft'].astype(str).apply(extract_unit)
print(df4['unit'].value_counts())

unit
Sq Meter    17
Sq Yards    15
Acres        8
Guntha       2
Cents        2
Perch        1
Grounds      1
Name: count, dtype: int64

C:\Users\HP\AppData\Local\Temp\ipykernel_6300\2163333784.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['unit'] = df4['total_sqft'].astype(str).apply(extract_unit)

In [137]:
df4.info()
df_copy = df5

<class 'pandas.core.frame.DataFrame'>
Index: 13303 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13303 non-null  object
 1   size        13303 non-null  object
 2   total_sqft  13303 non-null  object
 3   bath        13303 non-null  float64
 4   price       13303 non-null  float64
 5   bhk         13303 non-null  int64
 6   unit        46 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 831.4+ KB

In [138]:
df_copy[~df_copy['total_sqft'].str.replace('.','',1).str.isnumeric()]['total_sqft'].unique()

array(['2100 - 2850', '3010 - 3410', '2957 - 3450', '3067 - 8156',
       '1042 - 1105', '1145 - 1340', '1015 - 1540', '1520 - 1740',
       '34.46Sq. Meter', '1195 - 1440', '4125Perch', '1120 - 1145',
       '4400 - 6640', '3090 - 5002', '4400 - 6800', '1160 - 1195',
       '1000Sq. Meter', '4000 - 5249', '1115 - 1130', '1100Sq. Yards',
       '520 - 645', '1000 - 1285', '3606 - 5091', '650 - 665',
       '633 - 666', '5.31Acres', '30Acres', '1445 - 1455', '884 - 1116',
       '850 - 1093', '1440 - 1884', '716Sq. Meter', '547.34 - 827.31',
       '580 - 650', '3425 - 3435', '1804 - 2273', '3630 - 3800',
       '660 - 670', '1500Sq. Meter', '620 - 933', '142.61Sq. Meter',
       '2695 - 2940', '1574Sq. Yards', '3450 - 3472', '1250 - 1305',
       '670 - 980', '1005.03 - 1252.49', '1004 - 1204', '361.33Sq. Yards',
       '645 - 936', '2710 - 3360', '2249.81 - 4112.19', '3436 - 3643',
       '2830 - 2882', '596 - 804', '1255 - 1863', '1300 - 1405',
       '117Sq. Yards', '934 - 1437', '980 - 1030', '1564 - 1850',
       '1446 - 1506', '1070 - 1315', '3040Sq. Meter', '500Sq. Yards',
       '2806 - 3019', '613 - 648', '1430 - 1630', '704 - 730',
       '1482 - 1846', '2805 - 3565', '3293 - 5314', '1210 - 1477',
       '3369 - 3464', '1125 - 1500', '167Sq. Meter', '1076 - 1199',
       '381 - 535', '2215 - 2475', '524 - 894', '540 - 670',
       '315Sq. Yards', '1650 - 2538', '2725 - 3250', '1974 - 2171',
       '888 - 1290', '1360 - 1890', '2466 - 2856', '660 - 700',
       '385 - 440', '770 - 841', '3Cents', '1310 - 1615', '1782 - 2000',
       '188.89Sq. Yards', '1469 - 1766', '204Sq. Meter', '1255 - 1350',
       '870 - 1080', '45Sq. Yards', '133.3Sq. Yards', '2580 - 2591',
       '2563 - 2733', '605 - 624', '4260 - 4408', '1349 - 3324',
       '78.03Sq. Meter', '3300 - 3335', '1180 - 1630', '1365 - 1700',
       '3500 - 3600', '122Sq. Yards', '84.53Sq. Meter', '2.09Acres',
       '1482 - 1684', '981 - 1249', '1100 - 1225', '1565 - 1595',
       '24Guntha', '1270 - 1275', '840 - 1010', '697Sq. Meter',
       '655 - 742', '1408 - 1455', '4050 - 4075', '942 - 1117',
       '1750 - 2640', '1390 - 1600', '598 - 958', '1500Cents',
       '132Sq. Yards', '1010 - 1300', '2Acres', '3103 - 3890',
       '1450 - 1950', '1100Sq. Meter', '15Acres', '1450 - 1595',
       '763 - 805', '3307 - 3464', '1.26Acres', '620 - 934',
       '2462 - 2467', '540 - 740', '1618 - 1929', '3508 - 4201',
       '4900 - 4940', '1610 - 1880', '755 - 770', '664 - 722',
       '151.11Sq. Yards', '700 - 900', '596 - 861', '1925 - 2680',
       '615 - 985', '540 - 565', '750 - 800', '1660 - 1805',
       '1410 - 1710', '1079 - 1183', '2800 - 2870', '1230 - 1290',
       '943 - 1220', '2041 - 2090', '527 - 639', '1Grounds',
       '1160 - 1315', '706 - 716', '2940Sq. Yards', '1791 - 4000',
       '45.06Sq. Meter', '799 - 803', '2470 - 2790', '783 - 943',
       '4500 - 5540', '1255 - 1375', '610 - 615', '854 - 960',
       '2650 - 2990', '1.25Acres', '86.72Sq. Meter', '1230 - 1490',
       '660 - 780', '1150 - 1194', '684 - 810', '1510 - 1670',
       '1550 - 1590', '1235 - 1410', '3484 - 3550', '38Guntha',
       '929 - 1078', '2150 - 2225', '1520 - 1759', '629 - 1026',
       '1215 - 1495', '6Acres', '1140 - 1250', '2400 - 2600',
       '1052 - 1322', '5666 - 5669', '712 - 938', '1783 - 1878',
       '120Sq. Yards', '24Sq. Meter', '2528 - 3188', '650 - 760',
       '1400 - 1421', '4000 - 4450', '142.84Sq. Meter', '300Sq. Yards',
       '2204 - 2362', '1437 - 1629', '850 - 1060', '1200 - 1470',
       '1020 - 1130', '1133 - 1384'], dtype=object)

In [139]:
# the number of these units are very low, so we can drop
#  but for learning purposes, we will convert these values also to sq. Ft using funcn

conversion_factors = {
    "Sq Meter": 10.764,    # 1 sq. meter = 10.764 sq. ft
    "Sq Yards": 9,         # 1 sq. yard = 9 sq. ft
    "Acres": 43560,        # 1 acre = 43,560 sq. ft
    "Guntha": 1089,        # 1 guntha = 1,089 sq. ft
    "Cents": 435.6,        # 1 cent = 435.6 sq. ft
    "Perch": 272.25,       # 1 perch = 272.25 sq. ft
    "Grounds": 2400        # 1 ground = 2,400 sq. ft (Indian real estate measure)
}

# def extract_unit(x):
#     match = re.findall(r'[A-Za-z]+', str(x))
#     return ' '.join(match) if match else None
def convert(x):
    try:
        if '-' in x:  # range case
            nums = list(map(float, x.split('-')))
            return (nums[0] + nums[1]) / 2
        else:
            match = re.match(r"([\d\.]+)", str(x))
            if not match:
                return None
            num = float(match.group(1))

            unit = extract_unit(str(x))
            if unit and unit.lower() in {k.lower(): k for k in conversion_factors}:
                # map lowercase back to actual key
                key_map = {k.lower(): k for k in conversion_factors}
                return num * conversion_factors[key_map[unit.lower()]]

            return num  # already sqft
    except:
        return None

In [140]:
df_copy = df4

In [ ]:
# testing on some values
test_values = [
    "1100-1220",
    "300 Sq Meter",
    "100sq meter",
    "100Sq Meter",
    "300sqYards",
    "2.5Perch",
    "1200"
]

for val in test_values:
    print(val, "→", convert(val))

1100-1220 → 1160.0
300 Sq Meter → 3229.2
100sq meter → 1076.3999999999999
100Sq Meter → 1076.3999999999999
300sqYards → 300.0
2.5Perch → 680.625
1200 → 1200.0

In [142]:
#testing the function on df_copy
df_copy['total_sqft'] = df_copy['total_sqft'].astype(str).apply(convert)

C:\Users\HP\AppData\Local\Temp\ipykernel_6300\675427415.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['total_sqft'] = df_copy['total_sqft'].astype(str).apply(convert)

In [143]:
df_copy['total_sqft'].isnull().sum()

np.int64(0)

In [146]:
df5 = df_copy.copy()

In [147]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13303 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13303 non-null  object
 1   size        13303 non-null  object
 2   total_sqft  13303 non-null  float64
 3   bath        13303 non-null  float64
 4   price       13303 non-null  float64
 5   bhk         13303 non-null  int64
 6   unit        46 non-null     object
dtypes: float64(3), int64(1), object(3)
memory usage: 831.4+ KB

In [148]:
df5['total_sqft'].isnull().sum()

np.int64(0)

In [150]:
df5.to_csv('Dataset/Cleaned_Data.csv')